*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    /* outline: 2px solid red; */

}

/* UTILITY */

.debug{
    border: 1px solid black;
    background-color: rgba(255, 0, 0, .5);
}

/* GENERALI */
body{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}


/* .waves{
    display: block;
    height: 52px;
    background-image: url(/assets/img/wave.svg);
    background-repeat: repeat-x;
    background-size: contain;
    background-position: center;
    
} */

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

header a:hover{
    text-decoration: underline;
}

header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;

    background-color: #255EE9;
}

.button{
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
    background-color: white;
    border: 1px solid white;
    border-radius: 31px 31px 31px 31px;
}
/* HEADER */

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul{
    display: flex;
    
}
header ul li{
    list-style: none;
    margin: 35px;
    
}
header ul li a{
    text-decoration: none;
    color: white;
}


.jumbotron{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;

    background-image: url(/assets/img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;

}
.jumbotron .jumbo-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    text-align: center;
    max-width: 800px;
    
    /* COLOR DI DEBUG */
    /* background-color: green; */
}
.jumbotron .jumbo-content h1{
    color: white;

    font-size: 3.6rem;
    margin-bottom: 60px;
}

.jumbotron .jumbo-content p{
    color: white;

    font-size: 1.2rem;
}
.jumbo-content div.cta-box{
    display: flex;
    padding: 10px;
    margin: 30px 0px;
}

.cta-box .button.cta-white{
    border: none;
    text-align: center;
    color: #23272A;
    margin-right: 25px;
    padding: 15px;
}

.cta-white::before{
    content: "\1F817";
    margin-right: 10px;
    font-size: 1.2rem;
    
}
.cta-box .button.cta-black{
    text-align: center;
    background-color: #23272A;
    color: white;
    border: none;

    margin-right: 25px;
    padding: 15px;
}
.cta-box .button.cta-black a{
    color: white;
}

/* MAIN */
section.bg-grey{
    padding:20px;
    background-color: #F6F6F6;
}
section .container{
    display: flex;
    padding: 20px;
    margin-bottom: 100px;
}

section .container .img{
    width: 61%;

    /* DEBUG */
    /* min-height: 300px;
    background-color: aqua; */
}
section .container .text{
    padding: 32px;
    display: flex;
    flex-direction: column;
    text-align: left;



    width: 39%;

    /* DEBUG */
    /* min-height: 500px;
    background-color: aquamarine; */
}
section.section-bot .container{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


section .container .text h2{
    font-size: 3.2rem;
    text-align: left;
}
section .container .text p{
    padding-top: 15px;
    font-size: 1.2rem;
    text-align: left;
}


section.section-bot .container .box-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}
section.section-bot 
.container 
.box-text h2{
    margin-top: 100px;
    font-size: 3.2rem
}
section.section-bot 
.container 
.box-text p{

    margin-top: 20px;
    font-size: 1.2rem;
    text-align: center;
}
section.section-bot 
.container
h3{
    font-size: 1.6rem;
}
.section-bot
.button.cta-bot{
    margin-top: 30px;
    padding: 10px;
    border: none;

    background-color: #8EA1E1;
    color: white;
}
.section-bot
.button.cta-bot::before{
    content: "\1F817";
    margin-right: 10px;
    font-size: 1.2rem;
    text-align: center;
}


/* FOOTER */
footer{
    /* display: flex;
    justify-content: space-evenly; */
    width: 100%;
    background-color: #24272A;

}


.footer-top{
    display: flex;
    border-bottom: 1px solid #7289DA;

}

.footer-top .col-social{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 15px;
    
    width: calc(100% / 3);

    
} 
.footer-top .col-social h3{
    font-size: 2.3rem;
    color: #7289DA;

    
} 

.footer-top .col-menu{
    display: flex;
    justify-content: center;
    width: calc(100% / 6);
    padding: 15px;
    margin-top: 10px;

}
footer img.lang-flag{
    display: inline-block;
    width: 25px;
    height: 15px;
    padding: 0 8 0 0;
}
footer .lang-sect{
    color: white;
    margin: 15px 0 0 0;
    
}
footer span.language::after{
    content: "\142F";
    color: white;
    padding: 0 0 0 8px;
}

footer ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    
}

footer ul li:first-child{
    color: #0428a1;
}

footer ul li{
    line-height: 1.7rem;   
}
footer ul li a{
    text-decoration: none;
    color: white;
}


.footer-bot{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
    margin-top: 10px;

    
}
div .button.cta-footer{
    background-color:#7289DA;
    border: none;
    
}
div .button.cta-footer a{
    color: white;
    
    
}